.pg-registo-atividades {
    .tabs-atividades {
        position: relative;
        margin-top: 2.4rem;

        .nav-tabs {
            @include flex(row, space-around, center, center);
            border-bottom: none;

            @include xs {
                @include flex(column, flex-start, center, center);
            }

            .nav-item {
                width: 32%;
            }

            .dropdown {
                &-toggle {
                    margin-left: 3.2rem;

                    span {
                        color: $gray-04;
                        font-size: 1.6rem;
                    }

                    &:after {
                        display: none;
                    }

                    @include md {
                        position: absolute;
                        right: 0;

                    }
                }

                &-menu {
                    @include font(1.6rem, 400, 1.2em);
                    padding: 0;
                    border-radius: 8px;
                    border: none;
                    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
                    background-color: $white-01;
                    z-index: 10;

                    hr {
                        color: $gray-02;
                    }
                }

                &-item {
                    color: $gray-04;
                    padding: 1.2rem 1.6rem;
                    padding-right: 5.6rem;
                    background: $white-01;

                    &:hover,
                    &:active {
                        background-color: $gray-01;
                        opacity: 1;
                        z-index: 11;
                    }
                }
            }

        }


        .tab-pane {
            .pagamentos {
                &-description {
                    width: 30%;
                    text-align: left;
                    @include flex(row, flex-start, center, center);

                    i {
                        span {
                            font-size: 3.2rem;
                            color: $black-02;
                        }
                    }

                    h5 {
                        text-align: left;
                    }

                    &-details {
                        margin-left: 1.2rem;

                        a {
                            font-size: 1.4rem;

                            span {
                                position: relative;

                                &::after {
                                    content: '';
                                    width: 100%;
                                    height: 1px;
                                    background-color: $gray-04;
                                    @include absolute(auto, auto, 0, 0);
                                    transition: $transition-01;
                                }
                            }

                            i {
                                margin-left: .4rem;

                                span {
                                    font-size: 2.4rem;
                                    color: $gray-04;

                                    &:after {
                                        display: none;
                                    }
                                }
                            }

                            &:hover {
                                span {
                                    color: $black-02;

                                    &::after {
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                &-item {
                    width: 30%;
                    text-align: left;
                }

                &-date {
                    width: 20%;
                    text-align: center;
                }

                &-valor {
                    width: 10%;
                    text-align: right;
                    color: $black-02;
                }

                @include sm {

                    &-description {
                        width: 50%;
                    }

                    &-item {
                        width: 50%;
                        text-align: right;
                    }

                    &-date {
                        width: 50%;
                        margin-top: 2.4rem;
                    }

                    &-valor {
                        width: 50%;
                        margin-top: 2.4rem;
                    }
                }

                @include xs {


                    &-description,
                    &-item,
                    &-date,
                    &-valor {
                        width: 100%;
                        text-align: center;
                        margin: 1.6rem 0;
                    }

                    &-description {
                        justify-content: center;
                    }
                }
            }

            .atividades-list {
                .atividades-description {
                    @include flex(row, flex-start, center, center);

                    i {
                        margin-right: .8rem;

                        span {
                            font-size: 3.2rem;
                            color: $black-02;
                        }
                    }

                    @include xs {
                        margin-bottom: .8rem;
                    }
                }
            }

            .bilhetes {
                &-list {
                    li {
                        text-align: center;
                    }

                    @include sm {
                        li {
                            margin: .8rem 0;
                        }
                    }
                }

                &-description {
                    width: 20%;

                    a {
                        transition: $transition-01;
                    }

                    i {
                        span {
                            font-size: 3.2rem;
                        }
                    }

                    a {
                        &:hover {
                            color: $black-02;
                        }
                    }
                }

                &-event {
                    width: 25%;
                    text-align: left;
                }

                &-modalidade {
                    width: 15%;
                }

                &-campeonato {
                    width: 15%;
                }

                &-date {
                    width: 15%;
                }

                &-valor {
                    width: 10%;
                    text-align: right;
                    color: $black-02;
                }

                @include sm {
                    &-list {
                        li {
                            text-align: center;
                        }
                    }

                    &-description {
                        width: 100%;
                        order: 6;

                        a {
                            justify-content: center;
                        }
                    }

                    &-event {
                        width: 60%;
                        margin: 1.6rem 0;
                        order: 4;
                    }

                    &-modalidade {
                        width: 33%;
                        order: 1;
                        text-align: left;
                    }

                    &-campeonato {
                        width: 33%;
                        order: 2;
                    }

                    &-date {
                        width: 33%;
                        order: 3;
                        text-align: right;
                    }

                    &-valor {
                        width: 25%;
                        order: 5;
                    }
                }

                @include xs {
                    &-list {
                        li {
                            @include flex(row, center, flex-start, flex-start);
                            flex-wrap: wrap;
                        }
                    }

                    &-description,
                    &-event,
                    &-date,
                    &-valor {
                        width: 100%;
                        text-align: center;
                        margin: .8rem 0;
                    }


                    &-modalidade,
                    &-campeonato {
                        width: 50%;
                        padding-bottom: .8rem;
                    }

                    &-campeonato {
                        text-align: right;
                    }
                }
            }
        }
    }
}

.tabs {
    .nav-tabs {
        @include flex(row, space-between, center, center);
        border-bottom: none;

        @include xs {
            @include flex(column, flex-start, center, center);
        }

        .nav-item {
            span {
                max-width: calc(100% - 3.2rem);
                text-align: left;
            }

            @include xs {
                width: 100%;
                padding: .8rem 0;
            }
        }

        .nav-link {
            border: none;
            @include font(1.6rem, 400, 1.2em);
            color: $black-02;
            margin: 0 auto;

            @include flex(row, center, center, center);

            position: relative;

            .area-select {
                width: 2.4rem;
                height: 2.4rem;
                border: 1px solid $gray-04;
                border-radius: 50%;
                margin-right: .8rem;
                position: relative;
            }

            &:hover {
                span {
                    color: $black-02;
                }

                isolation:auto;
            }

            &.active {
                color: var(--color-clube);

                .area-select {
                    &:before {
                        content: '';
                        width: 80%;
                        height: 80%;
                        background-color: var(--color-clube);
                        @include absolute (50%, auto, auto, 50%);
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        transition: $transition-01;
                    }
                }

                &:hover {
                    span {
                        color: var(--color-clube);
                    }
                }
            }

            @include xs {
                width: 100%;
                @include flex(row, flex-start, center, center);
            }
        }
    }

    .tab-pane {
        ul {
            width: 100%;
            @include flex(column, flex-start, center, center);
            padding: 2.4rem 0;

            li {
                width: 100%;
                @include flex(row, space-between, center, center);
                flex-wrap: wrap;
                @include font(1.6rem, 400, 1.2em);
                color: $gray-04;
                padding: 1.6rem 0;
                border-bottom: 1px solid $gray-04;

                a {
                    @include flex(row, flex-start, center, center);
                    @include font(1.6rem, 400, 1.2em);
                    color: $gray-04;
                    text-align: left;

                    i {
                        margin-right: .8rem;

                        span {
                            font-size: 3.2rem;
                            color: $black-02;
                        }
                    }
                }
            }

            @include xs {
                li {
                    @include flex(column, flex-start, center, center);
                }
            }
        }
    }
}