.pg-pagar-quotas {
    .cbx-label {

        span.cbx-area-select {

            &::before {
                background: var(--color-clube);
            }
        }
    }

    .nav-pills {
        .nav-link {
            @include flex(row, center, center, center);
            padding: .8rem;
            padding-right: 2.4rem;
            margin-right: 1.2rem;

            @include font(1.6rem, 400, 1.2em);
            color: $black-02;
            border: 1px solid $gray-04;
            border-radius: 4rem;

            position: relative;
            transition: $transition-01;

            .area-select {
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 50%;
                border: 1px solid $gray-04;
                margin-right: .8rem;

                position: relative;

                &::before {
                    content: '';
                    width: 80%;
                    height: 80%;
                    border-radius: 50%;
                    background-color: var(--color-clube);
                    @include absolute(50%, auto, auto, 50%);
                    transform: translate(-50%, -50%);

                    display: none;
                    transition: $transition-01;
                }
            }

            .dropdown-toggle {
                margin-left: 1.6rem;
                height: 1.6rem;

                &::after {
                    display: none;
                }

                i {
                    transition: $transition-01;
                }

                span {
                    font-size: 1.6rem;
                    color: $gray-04;
                }

                &.show {
                    i {
                        transform: rotate(180deg);
                    }
                }
            }

            .dropdown-menu {
                padding: 1.6rem;
                border: none;
                box-shadow: 2px 2px 10px 0px rgba(0, 18, 43, 0.2);

                li {
                    padding: .8rem 0;

                    label {
                        font-size: 1.4rem;

                        .cbx-area-select {
                            margin: 0;
                        }
                    }
                }

                .membro-grupo {
                    padding-left: 3.2rem;
                    color: $gray-04
                }
            }

            &.active {
                border-color: var(--color-clube);
                background-color: $gray-01;

                .area-select {
                    &::before {
                        display: block;
                    }
                }
            }
        }
    }

    .quotas-total {
        @include flex(row, space-between, center, center);
        background-color: $white-01;
        padding: 1.6rem;
        box-shadow: 2px 2px 10px 0px rgba(0, 18, 43, 0.2);

        .icone-clube {
            position: relative;
            padding-right: 1.6rem;

            span {
                font-size: 4rem;
                color: $gray-04;
            }

            .notification {
                width: 2.8rem;
                height: 2.8rem;
                @include absolute(0, 0, auto, auto);
            }
        }

        &-infos {
            width: 70%;

            h4 {
                @include font(2.4rem, 400, 1em);
            }

            h5 {
                margin-bottom: 0;
            }
        }

        .btn {
            i {
                span {
                    margin: 0;
                }
            }

            span {
                margin-left: .4rem;
            }
        }
    }

    .quotas-table {
        background-color: $white-01;
        padding: 1.6rem;
        margin-top: .8rem;
        box-shadow: 2px 2px 10px 0px rgba(0, 18, 43, 0.2);

        table {
            margin: 0;

            thead {
                border-bottom: 2px solid $gray-04;
                color: $black-02;

                th {
                    @include font(1.6rem, 700, 1.2em);
                }
            }

            tbody {
                tr {
                    padding: .8rem 0;
                    border-bottom: 1px solid $gray-04;

                    &:last-child {
                        border-bottom: none;
                    }
                }

                td {
                    @include font(1.6rem, 400, 1.2em);
                }

            }

            tr {
                width: 100%;
                @include flex(row, space-between, center, center);
            }

            td,
            th {
                @include flex(row, center, center, center);

                &:first-child {
                    text-align: left;
                    justify-content: flex-start;
                }

                &:last-child {
                    width: 50%;
                    text-align: right;
                    justify-content: flex-end;
                }
            }

            .col-quotas,
            .col-valor,
            .col-status {
                width: 20%;
            }

            .col-btn {
                width: 40%;

                .btn {
                    span {
                        margin-left: .4rem;
                    }

                    i {
                        span {
                            margin: 0;
                        }
                    }
                }
            }

            .quota-status {
                border-radius: 4rem;
                padding: .4rem;
                padding-right: .8rem;
                @include flex(row, center, center, center);

                i {
                    width: 2.4rem;
                    height: 2.4rem;
                    margin-right: .4rem;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                &.atraso {
                    background-color: $secondary-02;
                    color: $white-01;
                }

                &.aberta {
                    i {
                        display: none;
                    }
                }

                &.ok {
                    color: $gray-04;
                }
            }
        }

    }

    .quotas-pagination {
        padding: 3.2rem 0;
        @include flex(row, center, center, center);

        .pagination {

            .page-link {
                @include font(1.4rem, 400, 1.2em);
                color: $black-02;
                border-color: $gray-01;

                &:hover {
                    background-color: $gray-01;
                }

                &:focus {
                    box-shadow: none;
                }
            }

            .active {
                .page-link {
                    color: $white-01;
                    border-color: var(--color-clube);
                    background-color: var(--color-clube);
                }
            }
        }
    }

    .member {
        padding-top: .8rem;

        &:first-child {
            margin-top: 0;
        }
    }

    .member-item {
        @include flex(row, flex-start, center, center);
        background-color: $white-01;
        padding: .8rem 1.6rem;
        position: relative;
        box-shadow: 2px 2px 10px 0px rgba(0, 18, 43, 0.2);

        .member-quotas {
            @include flex(row, flex-start, center, center);
            padding-right: 1.6rem;
            border-right: 2px solid $gray-04;

            width: 30%;

            &-icon {
                position: relative;
                padding-right: 1.2rem;
                margin-right: 1.2rem;

                span {
                    font-size: 4rem;
                    color: $gray-04;
                }

                .quotas-ok {
                    width: 2.8rem;
                    height: 2.8rem;
                    @include absolute(0, 0, auto, auto);
                    border-radius: 50%;
                    background-color: var(--color-clube);
                }

                .notification {
                    width: 2.8rem;
                    height: 2.8rem;
                    @include absolute(0, 0, auto, auto);
                    display: none
                }
            }

            &-infos {
                h4 {
                    @include font(2.4rem, 400, 1em);
                }

                h5 {
                    margin-bottom: 0;
                }
            }
        }

        .member-infos {
            padding-left: 1.6rem;

            h4 {
                @include font(2rem, 400, 1em);
                color: $gray-04;
            }

            h5 {
                @include font(1.4rem, 400, 1em);
                color: $black-02;
                margin-top: .8rem;
            }
        }

        i {
            position: absolute;
            right: 1.6rem;

            span {
                color: $gray-04;
            }
        }
    }


    .quotas-atrasadas {
        .member-quotas-icon {
            .quotas-ok {
                display: none;
            }

            .notification {
                display: block;
            }
        }
    }
}