.ads-wrapper {
    position: relative;

    a {
        width: 100%;
        height: auto;
        display: inline-block;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: center;
        }
    }
}