.swiper-fan {
    width: 80%;

    .swiper-slide {
        @include flex(column, center, flex-start, flex-start);

        h3 {
            @include font(3.2rem, 400, 1.2em);
            color: $white-01;
            margin-bottom: 1.6rem;
        }

        .btn {
            --color-btn: #FFFFFF;
            --color-hover: #737A83;
        }
    }

    .swiper-pagination {
        @include flex(row, center, center, center);
        margin-top: 1.6rem;

        .swiper-pagination-bullet {
            width: 1.2rem;
            height: 1.2rem;
            display: inline-block;
            border: 1px solid $white-01;
            border-radius: 50%;
            margin: 0 4px;
            transition: $transition-01;
        }

        .swiper-pagination-bullet-active {
            background: $white-01;
        }
    }
}