@import 'layout/banner-fan-swiper';

.banner-fan {
    --bg-color: #263F62;

    width: 100%;
    padding: 3.2rem 0 12rem;

    background: var(--bg-color);

    position: relative;

    .column-01 {
        @include flex(row, flex-start, center, center);

        .img-profile-wrapper {

            margin-bottom: -7.2rem;

            z-index: 1111;

            a {
                width: 18rem;
                height: 18rem;
                background-color: $white-01;
                border-radius: 50%;
                padding: .8rem;
                display: inline-block;
                position: relative;

                i {
                    width: 100%;
                    height: 100%;
                    @include flex(row, center, center, center);
                    border: 2px solid $primary-02;
                    border-style: dashed;
                    border-radius: 50%;

                    span {
                        font-size: 6.4rem;
                        color: $gray-03;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-position: center;
                    object-fit: contain;
                    border-radius: 50%;
                }

                .icone-clube-adepto {
                    --bg-icon: #F78946;

                    width: 4rem;
                    height: 4rem;
                    @include absolute(auto, 0, 0, auto);
                    border: none;
                    padding: .4rem;

                    background-color: var(--bg-icon);

                    span {
                        font-size: 2.4rem;
                        color: $white-01;
                    }
                }
            }
        }
    }

    .column-02 {
        @include flex(row, flex-end, center, center);

        .infos-club {
            @include flex(column, center, flex-end, flex-end);
            margin-right: 2.4rem;

            h2 {
                color: $white-01;
                margin-bottom: 1.6rem;
            }

            .btn-secondary {
                --color-btn: #FFFFFF;
                --color-hover: #737A83;
            }
        }


        .img-club {
            width: 11.2rem;
            height: 11.2rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    @include md {
        .column-01 {
            order: 2;

            .img-profile-wrapper {
                a {
                    width: 16rem;
                    height: 16rem;
                }
            }
        }

        .column-02 {
            order: 1;
            margin-bottom: 3.2rem;
        }
    }

    &.logged-no-club {
        background-image: url("../../images/banner-img.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        .content-wrapper {
            @include flex(column, center, flex-start, flex-start);

            h3 {
                @include font(3.2rem, 400, 1.2em);
                color: $white-01;
                margin-bottom: 1.6rem;
            }

            .btn {
                --color-btn: #FFFFFF;
                --color-hover: #737A83;
            }
        }
    }

    &.banner-socio {
        background-image: url("../../images/banner-sporting.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        .column-01 {
            align-items: flex-end;
            align-content: flex-end;
        }

        .infos-profile {
            &-wrapper {
                @include flex(row, flex-start, flex-start, flex-start);
            }

            &-dados {
                padding-right: 1.6rem;

                h3,
                p {
                    color: $white-01;
                }

                h3 {
                    @include font(2rem, 900, 1.2em);
                }

                p {
                    margin-bottom: 0;
                }
            }

            &-notification {
                padding-left: 1.6rem;
                border-left: 1px solid $white-01;

                .notification-icon {
                    position: relative;
                    display: inline-block;

                    i {
                        display: inline-block;

                        span {
                            font-size: 3.2rem;
                            color: $white-01;
                        }
                    }

                    .notification-warning {
                        width: 1.6rem;
                        height: 1.6rem;
                        display: inline-block;
                        @include absolute(0, 0, auto, auto);
                    }
                }

                .notification-list {
                    li {
                        @include flex(row, flex-start, center, center);
                        margin-top: .8rem;

                        p {
                            color: $white-01;
                            margin-bottom: 0;
                        }

                        .btn-link {
                            font-size: 1.2rem;
                            color: $white-01;
                            margin-left: 1.6rem;

                            &:before {
                                background: $white-01;
                            }
                        }
                    }
                }
            }
        }
    }
}