.cards-fan {
    width: 100%;
    @include flex(row, flex-start, center, center);
    flex-wrap: wrap;

    &-wrapper {
        height: 35rem;
        padding: .8rem;
    }

    &-item {
        width: 100%;
        height: 100%;
        background: $white-01;
        padding: 1.6rem 2.4rem;
        border-radius: 2.4rem;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);

        @include flex(column, space-between, center, center);

        position: relative;
    }

    .cards-header {
        width: 100%;
        height: 20%;
        @include flex(row, flex-start, center, center);
        position: relative;

        i {
            margin-right: 1.2rem;

            span {
                font-size: 4.8rem;
                color: $gray-04;
            }
        }

        h2 {
            @include font(2rem, 700, 1.2em);
        }
    }

    .cards-content {
        width: 100%;
        height: 60%;
        @include flex(row, flex-start, flex-start, flex-start);
        flex-wrap: wrap;

        p {
            @include font(1.6rem, 500, 1.4em);
            color: $gray-04;
        }

        .img-user {
            width: 9.2rem;
            height: 9.2rem;
            border-radius: 50%;
        }
    }

    .cards-btn {
        width: 100%;
        height: 20%;
        padding-bottom: .8rem;
        @include flex(row, flex-start, center, center);
    }

    .item-clube-coracao {
        .cards-content {
            padding-top: 1.6rem;

            p {
                width: 85%;
            }

            a {
                @include font(1.6rem, 500, 1.4em);
                color: $primary-02;
                padding-bottom: 1px;
            }
        }
    }

    .item-dados-conta {
        .cards-content {
            margin-top: 2.4rem;

            .img-user {
                margin-right: 1.6rem;
            }
        }

        .dados-user {
            margin-left: .8rem;

            li {
                height: auto;
                @include font(1.6rem, 400, 1.2em);
                color: $gray-04;
                padding: .4rem 0;
            }

            .dados-user-name {
                @include font(2rem, 700, 1.2em);
            }
        }
    }

    .swiper-area-fan {
        height: 100%;

        .swiper-slide {
            height: 100%;
        }

        .swiper-button-prev,
        .swiper-button-next {
            @include absolute(50%, auto, auto, 0);
            color: $gray-04;
            transform: translateY(-50%);
            z-index: 9;
        }

        .swiper-button-next {
            left: auto;
            right: 0;
        }
    }

    .item-bilhetes {
        .swiper-slide {
            @include flex(column, center, flex-start, flex-start);

            .btn-link {
                @include absolute(0, auto, auto, 5.6rem);
            }
        }

        .jogo-item {
            @include flex(row, flex-start, center, center);

            li {
                height: auto;
                padding: 0;
                margin: 0;
            }

            &-clubes {
                @include flex(row, flex-start, center, center);

                a {
                    display: inline-block;
                    height: 8rem;
                    width: 8rem;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                li {
                    &:first-child {
                        z-index: 2;
                    }

                    &:last-child {
                        margin-left: -3rem;
                    }
                }
            }

            &-infos {
                color: $gray-04;
                margin-left: .8rem;

                li {
                    margin: .4rem 0;

                    &.jogo-item-infos-data {
                        margin-top: .8rem;
                    }
                }

                &-modalidade {
                    @include font(1.4rem, 300, 1.2em);
                    @include flex(row, flex-start, center, center);

                    i {
                        margin-right: .4rem;
                    }
                }

                &-clubes {
                    @include font(1.8rem, 400, 1.2em);

                    strong {
                        font-size: 2rem;
                        font-size: 900;
                    }
                }

                &-data {
                    @include font(1.4rem, 400, 1.2em);

                }
            }
        }
    }

    .item-loja {

        .swiper-slide {
            a {
                width: 100%;
                height: 100%;
                @include flex(row, flex-start, center, center);
            }

            background: $white-01;
        }

        .produto-infos {
            width: 50%;
            @include font(1.8rem, 500, 1.2em);
            color: $gray-04;

            &-preco {
                @include font(2rem, 700, 1.2em);
                margin-top: .4rem;
            }

        }

        .produto-img {
            width: 35%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .item-grupo {

        .cards-content {
            @include flex(row, center, center, center);

            p {
                font-weight: 400;
                width: 70%;
                text-align: center;
            }

            .grupos-list {
                width: 100%;
                overflow: hidden;
                @include flex(row, center, center, center);

                li {
                    margin: 0 .8rem;

                    a {
                        display: inline-block;
                        position: relative;
                        width: 16rem;
                        height: 16rem;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                            object-position: center;
                        }
                    }

                    span {
                        @include font(1.6rem, 400, 1.2em);
                        color: $gray-04;
                        @include absolute(50%, auto, auto, 50%);
                        transform: translate(-50%, -50%);
                        text-align: center;
                        width: 100%;
                        padding: 0 .8rem;
                    }
                }
            }
        }
    }

    .item-registo-atividades {
        .cards-content {
            padding-top: 2.4rem;
        }

        p {
            width: 100%;
            @include font(1.8rem, 400, 1.2em);
        }

        &::after {
            content: '';
            width: 12rem;
            height: 12rem;
            background-image: url('../../images/svg/shopping-bag.svg');
            background-size: cover;
            background-position: center;
            @include absolute(50%, 0, 0, 50%);
            transform: translate(-50%, -50%);
            opacity: .15;
            z-index: 0;
        }
    }

    .item-lugar-cativo {
        .cards-content {
            padding-top: 2.4rem;
        }

        .lugar-cativo-infos {
            width: 70%;
            color: $gray-04;

            h5 {
                @include font(1.8rem, 700, 1.2em);
            }

            h6 {
                @include font(1.6rem, 400, 1.2em);
            }
        }

        .lugar-cativo-img {
            width: 30%;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .label-state {
        padding: .8rem 2.4rem;
        @include font(1.6rem, 500, 1.2em);
        @include absolute (50%, 0, auto, auto);
        transform: translateY(-50%);

        &.ativo {
            background: var(--color-clube);
            color: $white-01;
        }

        &.inativo {
            background: $gray-04;
            color: $white-01;
        }
    }

    .item-alertas {
        .cards-content {
            @include flex(column, center, flex-start, flex-start);
            padding-right: 4rem;
        }

        .notification-wrapper {
            width: 100%;
            margin: .8rem 0;

            input[type="checkbox"] {
                display: none;
            }

            label {
                width: 100%;
                @include flex(row, space-between, center, center);
                @include font(1.6rem, 400, 1.4em);
                color: $gray-04;
                transition: $transition-01;
                cursor: pointer;

                .switch {
                    width: 6.4rem;
                    height: 3.2rem;
                    border-radius: 50px;
                    border: 1px solid $gray-04;
                    position: relative;
                    transition: $transition-01;

                    &:before {
                        content: '';
                        width: 2.4rem;
                        height: 2.4rem;
                        background: $gray-04;
                        border-radius: 50%;
                        @include absolute(50%, auto, auto, .4rem);
                        transform: translateY(-50%);
                    }
                }
            }

            input[type="checkbox"]:checked~label {
                color: $black-02;
            }

            input[type="checkbox"]:checked~label .switch {
                border-color: $black-02;
            }

            input[type="checkbox"]:checked~label .switch:before {
                background: $black-02;
                left: auto;
                right: .4rem;
            }
        }

        .alertas-wrapper {
            width: 100%;
            margin: .8rem 0;
            @include flex(row, space-between, center, center);

            p {
                @include font(1.6rem, 400, 1.4em);
                color: $gray-04;

                span {
                    color: $black-01;
                }
            }

            i {
                display: inline-block;

                span {
                    font-size: 3.2rem;
                    color: $gray-04;
                    opacity: .5;
                    transition: $transition-01;
                }
            }

            a {
                &:hover {
                    span {
                        opacity: 1;
                    }
                }
            }
        }
    }
}