.pg-checkout {

    .checkout-content {

        .resumo-compra {
            background: none;
            border: none;

            ul {
                width: 100%;
                @include flex(row, flex-end, center, center);
                @include font(1.6rem, 400, 1.2em);
                position: relative;
            }

            &-head {
                padding: .8rem 0;
                border-bottom: 1px solid $gray-04;
                margin-bottom: 1.6rem;

                li {
                    font-weight: 700;
                }
            }

            &-body {
                margin-bottom: 4rem;
            }

            &-total {

                li {
                    padding: 0 .8rem;
                    @include font(1.8rem, 700, 1.2em);

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }

            &-aviso {
                background: $gray-01;
                margin-top: 4.8rem;
                padding: .8rem;

                p {
                    @include font(1.4rem, 400, 1.2em);
                    text-align: right;
                    margin-bottom: 4px;
                }
            }

            .cell {
                &-item {
                    width: 20%;
                }

                &-detalhes {
                    width: 50%;
                }

                &-qtd {
                    width: 15%;
                }

                &-valor {
                    width: 15%;
                    @include flex(row, flex-end, center, center);
                }
            }

            @include md {
                padding-left: 0;
                margin-bottom: 1.6rem;
                border-bottom: 1px solid $gray-04;
            }

            @include xs {
                ul {
                    @include flex(column, flex-start, center, center);

                    li {
                        margin: .4rem 0;
                    }

                    &.resumo-compra-head {
                        display: none;
                    }

                    &.resumo-compra-body {
                        padding-bottom: .4rem;
                        margin-bottom: .4rem;
                        border-bottom: 1px solid $gray-04;
                    }

                    &.resumo-compra-total {
                        @include flex(row, flex-end, center, center);
                        flex-wrap: wrap;
                        padding-right: 0;

                        li {
                            width: auto;
                            padding: 0 .8rem;
                        }
                    }
                }

                .cell {

                    &-item,
                    &-detalhes {
                        width: 100%;
                    }

                    &-qtd,
                    &-valor {
                        width: 100%;
                        @include flex(row, flex-start, center, center);
                    }

                    &-delete {
                        width: 2.4rem;
                        height: 2.4rem;
                        position: absolute;
                        right: 0;

                        span {
                            color: $gray-04;
                        }
                    }
                }
            }

            @include xxs {
                .dados-pagamento-heading {
                    padding-right: 6rem;
                }
            }
        }

        .dados-pagamento {
            padding-right: .8rem;


            &-heading {
                position: relative;
                margin-bottom: 1.6rem;

                h2 {
                    font-size: 3.2rem;
                    line-height: 1.1em;
                    margin-bottom: 0;
                }

                h4 {
                    font-weight: 400;
                    text-align: left;
                }
            }

            @include md {
                padding-right: 0;
            }

            @include xs {
                &-heading {
                    h2 {
                        margin-bottom: .4rem;
                    }
                }
            }

            @include xxs {
                &-heading {
                    padding-right: 6rem;
                }
            }
        }

        .dados-pagamento-box {
            width: 100%;
            height: auto;
            background-color: $white-01;
            padding: 2.4rem;
            border: 2px solid $gray-01;
            margin-bottom: 3.2rem;

            box-shadow: 1px 1px 8px 0px rgba(0, 18, 43, 0.15);

            h2 {
                @include font(2.2rem, 700, 1em);
                margin: 0;
            }

            .container-input {
                padding: 1.6rem .8rem;
            }

            @include sm {
                padding: 3rem 1.5rem;
            }

            .row-photo {
                @include flex(row, flex-start, flex-start, flex-start);
                flex-wrap: wrap;
            }

            .img-user {
                @include flex(row, center, center, center);
                padding: 1.6rem;

                a {
                    width: 16rem;
                    height: 16rem;
                    @include flex(column, center, center, center);
                    background: $gray-01;
                    border-radius: 50%;
                    position: relative;

                    padding: .8rem;

                    span {
                        color: $primary-02;
                        font-size: 6.2rem;
                    }

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                    }

                    i {
                        width: 4rem;
                        height: 4rem;
                        @include flex(row, center, center, center);
                        border-radius: 50%;
                        @include absolute(auto, 0, 0, auto);
                        background: $gray-04;
                        z-index: 99;

                        span {
                            color: $white-01;
                            font-size: 2.4rem;
                        }
                    }
                }
            }
        }

        .form-metodo-pagamento {
            margin-bottom: 2.4rem;

            input[type="radio"] {
                display: none;
            }

            .dados-pagamento-box {
                position: relative;
                padding-right: 24rem;
                padding-left: 5.6rem;
                cursor: pointer;
                margin-bottom: 1.6rem;

                transition: $transition-01;

                &::before {
                    content: '';
                    width: 2.4rem;
                    height: 2.4rem;
                    border: 2px solid $primary-01;
                    border-radius: 50%;
                    @include absolute(50%, auto, auto, 1.6rem);
                    transform: translateY(-50%);
                }

                h5 {
                    color: $black-02;
                    font-weight: 600;
                }

                p {
                    color: $gray-04;
                }

                .btn-link {
                    color: $secondary-02;

                    &:before {
                        background-color: $secondary-02;
                    }
                }

                .img-payment {
                    height: 3.2rem;
                    width: auto;
                    max-width: 18rem;

                    @include absolute(50%, 2.4rem, auto, auto);
                    transform: translateY(-50%);
                }

                @include xs {
                    padding-top: 6.4rem;
                    padding-right: 1.5rem;

                    .img-payment {

                        @include absolute(2rem, auto, auto, 50%);
                        transform: translate(-50%, 0);
                    }
                }
            }

            input[type="radio"]:checked+label.dados-pagamento-box {
                border: 2px solid $primary-02;

                &:before {
                    background-color: $secondary-01;
                    border-color: $secondary-02;
                }
            }
        }

        .politicas-dados {
            width: 100%;
            @include flex(column, flex-start, flex-end, flex-end);
            margin-top: 2.4rem;

            li {
                width: 75%;
                @include flex(row, flex-end, center, center);
            }

            .container-input {
                padding: .8rem;
            }

            .cbx-label {
                span {
                    text-align: right;

                    &:first-child {
                        width: calc(100% - 3.2rem);
                        white-space: inherit;
                    }
                }
            }

            @include sm {
                li {
                    width: 100%;
                }
            }
        }

    }
}

.btn-dados-faturacao {
    width: 5.6rem;
    height: 3rem;
    @include absolute(1.6rem, 0, auto, auto);
    background-color: $white-01;
    border: 1px solid $gray-04;
    margin-bottom: 8px;
    border-radius: 3rem;
    transition: none;

    &:before {
        content: '';
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: $gray-02;
        border: 1px solid $gray-02;
        @include absolute(50%, auto, auto, 2px);
        transform: translateY(-50%);
    }

    &[aria-expanded="true"] {
        background-color: $primary-01;
        transition: none;

        &:before {
            background-color: $white-02;
            border: 1px solid $primary-02;
            right: 2px;
            left: auto;
        }
    }
}