.events {
    &-list {
        width: 100%;
        position: relative;
    }

    &-item {
        width: 100%;
        padding: 1.6rem .8rem;
        margin-bottom: 2.4rem;
        border: 1px solid $gray-01;
        background: $white-01;
        box-shadow: 2px 2px 10px 0px rgba(0, 18, 43, 0.2);
        @include flex(row, flex-start, center, center);
        flex-wrap: wrap;
    }

    &-modalidade {
        @include flex(column, center, center, center);
        padding: .4rem 1.6rem;
        border-right: 1px solid $gray-04;

        img {
            width: 2.4rem;
            height: 2.4rem;
            margin-bottom: .4rem;
        }

        span {
            color: $gray-04;
            @include font(1.4rem, 500, 1.2em);
        }

        @include sm {
            order: 1;
            padding: 0 1.6rem;

            img {
                margin-bottom: 0;
            }

            span {
                display: none;
            }
        }
    }

    &-clubes {
        @include flex(row, center, center, center);

        .clube {
            @include flex(column, center, center, center);

            img {
                width: 4.8rem;
                height: 4.8rem;
                object-fit: contain;
                object-position: center;
                margin-bottom: .4rem;
            }

            span {
                color: $black-02;
                @include font(1.4rem, 400, 1.2em);
                text-align: center;
            }
        }

        span {
            @include font(1.7rem, 300, 1.2em);
            color: $primary-01;
            margin: 0 .8rem;
        }

        @include sm {
            order: 3;
            border: none;
            margin: 2.4rem 0;
        }
    }

    &-details {
        @include flex(column, center, flex-start, flex-start);
        padding-left: 3.2rem;

        img {
            width: 100%;
            max-height: 8rem;
            object-fit: contain;
            object-position: left;
        }
    }

    &-info {
        @include flex(column, center, center, center);
        @include font(1.4rem, 400, 1.2em);
        color: $gray-04;
        text-align: center;

        li {
            margin: .4rem 0;

            &:first-child {
                @include font(1.6rem, 700, 1.2em);
                color: $black-02;
                text-transform: uppercase;
            }
        }

        @include sm {
            order: 2;
            @include flex(row, space-around, center, center);
        }
    }

    &-btn {
        @include flex(row, flex-end, center, center);

        .btn {
            margin-left: 2.4rem;

            &:first-child {
                margin-left: 0;
            }
        }

        p {
            max-width: 50%;
            text-align: center;

            color: $gray-04;

            span {
                font-size: 1.8rem;
                color: $black-02;
            }
        }

        .img-wrapper {
            width: 40%;
            text-align: center;
            height: 8rem;

            img {
                height: 100%;
            }
        }

        @include mlg {
            @include flex(column, flex-end, center, center);

            .btn {
                margin: .8rem 0;
            }

            p {
                max-width: 80%;
            }
        }

        @include sm {
            order: 4;
            @include flex(row, space-around, center, center);
        }
    }

    @include xs {
        &-modalidade {
            width: 100%;
            margin-bottom: .8rem;
        }

        &-info {
            width: 100%;
            @include flex(column, center, center, center);
        }

        &-btn {
            @include flex(column, center, center, center);
        }
    }

}