.user-dropdown {
    min-width: 40rem;
    @include absolute(auto, 0, -8px, auto);
    transform: translateY(100%);

    padding: 2.4rem 3.2rem;
    @include flex(column, flex-start, center, center);
    text-align: center;
    background-color: $white-01;
    border-radius: 1.6rem;
    box-shadow: 0px 5px 16px -3px rgba(64, 64, 64, 0.25);

    z-index: 9999;
    display: none;

    .user-img {
        width: 12rem;
        height: 12rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }

    .user-infos {
        margin: .4rem 0 1.6rem;

        h2 {
            color: $black-02;
        }

        p {
            font-weight: 300;
            color: $gray-04;
            margin-bottom: 0;
        }
    }

    .user-nav {
        @include flex(row, flex-start, flex-start, flex-start);
        flex-wrap: wrap;

        li {
            margin-bottom: 2.4rem;

            a {
                @include flex(column, flex-start, center, center);
                @include font(1.6rem, 400, 1.2em);
                color: $gray-04;

                i {
                    border: 1px solid $gray-04;
                    border-radius: 50%;
                    padding: .8rem;
                    margin-bottom: .4rem;
                    transition: $transition-01;

                    span {
                        font-size: 2.8rem;
                    }
                }

                &:hover {
                    i {
                        background-color: $gray-04;

                        span {
                            color: $white-02;
                        }
                    }

                    span {
                        color: $gray-04;
                    }
                }
            }

        }
    }

    .user-clubs {
        width: 100%;

        input {
            display: none;
        }

        .btn-collapse-clubs {
            display: inline-block;
            cursor: pointer;
            transition: $transition-01;

            span {
                color: $gray-04;
                transition: $transition-01;
            }

            &:hover {
                span {
                    color: $black-02;
                }
            }

            &[aria-expanded="true"] {
                transform: rotate(180deg);

                span {
                    color: $black-02;
                }
            }
        }

        #collapse-clubs:checked~.user-clubs-content {
            display: flex;
            animation: entrar-tab-content .3s ease-in;
        }

        #collapse-clubs:checked~.btn-collapse-clubs {
            transform: rotate(180deg);
        }

        &-content {
            @include flex(column, flex-start, center, center);
            padding: .8rem 0;
            display: none;

            .clube-coracao {
                width: 7.2rem;
                height: 7.2rem;

                a {
                    width: 100%;
                    height: 100%;
                    border: 1px solid $black-02;
                    border-radius: 50%;
                    padding: .8rem;
                    @include flex(column, center, center, center);
                    position: relative;
                    transition: $transition-01;

                    span {
                        font-size: 3.2rem;
                        color: $gray-04;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }

                    i {
                        @include absolute(auto, 0, 0, auto);
                        background-color: $gray-04;
                        border-radius: 50%;
                        @include flex(row, center, center, center);
                        padding: .4rem;

                        span {
                            font-size: 1.6rem;
                            color: $white-02;
                        }
                    }

                    &:hover {
                        background-color: $gray-02;
                    }
                }

                &.club-select {
                    a {
                        i {
                            background-color: $secondary-01;
                        }
                    }
                }
            }

            h4 {
                margin: 1.6rem 0 .8rem;
            }

            .list-outros-clubes {
                width: 100%;
                @include flex(row, space-between, center, center);
                flex-wrap: wrap;
                margin-bottom: 1.6rem;

                li {
                    width: 20%;
                    padding: .4rem;
                    margin-bottom: .8rem;

                    a {
                        width: 6.2rem;
                        height: 6.2rem;
                        @include flex(row, center, center, center);
                        padding: .8rem;
                        border: 1px solid $black-02;
                        border-radius: 50%;
                        position: relative;
                        transition: $transition-01;

                        span {
                            color: $gray-04;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-position: center;
                            object-fit: contain;
                        }

                        i {
                            @include absolute(auto, 0, 0, auto);
                            background-color: $gray-04;
                            border-radius: 50%;
                            @include flex(row, center, center, center);
                            padding: .4rem;

                            span {
                                font-size: 1.2rem;
                                color: $white-02;
                            }
                        }

                        &:hover {
                            background-color: $gray-02;

                            span {
                                color: $white-01;
                            }
                        }
                    }

                    &.club-select {
                        a {
                            border: 2px solid $secondary-01;

                            i {
                                background-color: $secondary-01;
                            }
                        }
                    }
                }
            }
        }
    }

    .user-logout {
        width: 100%;
        margin-top: .8rem;
        padding-top: 1.6rem;
        border-top: 1px solid $gray-04;
        @include flex(row, center, center, center);

        a {
            color: $black-02;
            @include font(1.6rem, 400, 1.2em);
            @include flex(row, center, center, center);
            transition: $transition-01;

            i {
                margin-right: .8rem;
            }

            &:hover {
                color: $gray-04;
            }
        }
    }

    @include xs {
        transform: translate(2%, 100%);
    }

    @include xxs {
        min-width: auto;
        width: 32rem;
        transform: translate(6%, 100%);

        .user-nav {
            li {
                padding: 0 1.2rem;
            }
        }
    }
}

.dropdown {
    &.open {
        .btn-perfil {
            background-color: rgba(255, 255, 255, .3);

            i {
                transform: rotate(180deg);
            }
        }

        .user-dropdown {
            display: flex;
        }
    }
}