header {
    --header-height: 9.6rem;

    width: 100%;
    height: var(--header-height);
    // padding: 2.4rem 0;
    background: $primary-01;
    @include flex(row, space-between, center, center);

    .logo {
        @include flex(row, flex-start, center, center);

        a {
            width: auto;
            max-width: 100%;
            height: 3.2rem;
            display: inline-block;

            img {
                width: auto;
                height: 100%;
            }
        }
    }

    .nav {
        height: var(--header-height);
        @include flex(row, flex-start, center, center);

        .nav-item {
            height: 100%;
        }

        .nav-link {
            height: 100%;
            color: $gray-02;
            @include font(1.4rem, 500, 1.2em);
            background: rgba(255, 255, 255, 0);
            padding: 0 3.2rem;
            @include flex(row, center, center, center);
            transition: $transition-01;

            &:hover {
                background: rgba(255, 255, 255, .25);
                color: $white-01;
            }
        }
    }

    .btn-list {
        @include flex(row, flex-end, center, center);

        .btn-item {
            margin-left: 2.4rem;
        }
    }
}