header {

    .menu-hamburguer {
        display: none;

        @include md {
            @include flex(row, center, center, center);
        }

        .open-menu,
        .close-menu {
            display: inline-block;

            span {
                font-size: 3.2rem;
            }
        }
    }

    .nav-mobile {
        height: var(--header-md-height);
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 3.2rem 0 0;
        z-index: 9999;
        background: $primary-02;
        box-shadow: 0px 15px 23px -10px rgba(33, 33, 33, 0.7);
        @include flex(column, flex-start, flex-start, flex-start);

        display: none;

        &.active {
            display: flex;
            animation: open-menu .3s ease-out;
        }

        .close-menu {
            span {
                color: $gray-02;
            }
        }

        .nav {
            padding: .8rem 0;
            justify-content: center;

            .nav-link {
                @include font(1.6rem, 500, 1.2em);

                &:hover {
                    background: rgba(255, 255, 255, .25);
                    color: $white-01;
                }
            }

            .nav-dropdown {
                top: calc(var(--header-md-height) - .8rem);
            }
        }

        @include sm {
            .nav {
                height: auto;
                padding: 1.6rem 0;
                justify-content: flex-start;
                overflow-x: scroll;

                .nav-link {
                    padding: 2.4rem 3.2rem;
                }
            }

            .logo {
                justify-content: center;
            }

            .tabs-nav {
                overflow-x: scroll;

                .tab-item {
                    width: 35%;
                }
            }

            .tabs-content {
                height: 32rem;
                overflow-y: scroll;

                .clubes-item {
                    a {
                        justify-content: center;

                        img {
                            height: 5.6rem;
                            width: 5.6rem;
                        }
                    }

                    span {
                        display: none;
                    }
                }
            }

            .btn-list {
                justify-content: center;
                margin-top: 2rem;

                .btn-item {
                    margin: 0 4px;
                }
            }
        }

    }
}