@import 'layout/header-tabs';
@import 'layout/header-fan-dropdown';
@import 'layout/header-user-dropdown';
@import 'layout/header-nav-mobile';

header {
    --header-height: 9.6rem;

    width: 100%;
    height: var(--header-height);
    background: $primary-01;
    @include flex(row, space-between, center, center);
    @include absolute(0, auto, auto, auto);
    z-index: 9999;

    .container {
        height: 100%;
    }

    .row {
        height: 100%;
        justify-content: space-between;
    }

    .logo {
        @include flex(row, flex-start, center, center);

        a {
            width: auto;
            max-width: 100%;
            height: 3.2rem;
            display: inline-block;

            img {
                width: auto;
                height: 100%;
            }
        }
    }

    .nav {
        height: var(--header-height);
        @include flex(row, flex-start, center, center);

        .nav-item {
            height: 100%;
        }

        .nav-link {
            height: 100%;
            color: $gray-02;
            @include font(1.6rem, 500, 1.2em);
            background: rgba(255, 255, 255, 0);
            padding: 0 3.2rem;
            @include flex(row, center, center, center);
            transition: $transition-01;

            &:hover {
                background: rgba(255, 255, 255, .25);
                color: $white-01;
            }

            &[aria-expanded="true"] {
                background: rgba(255, 255, 255, .25);
                color: $white-01;
            }

            &:after {
                display: none;
            }
        }

        .dropdown-menu {
            width: 100vw;
            @include absolute(var(--header-height), auto, auto, 0);
            z-index: 9999;
            background-color: $primary-02;
            padding-bottom: 3.2rem;
            box-shadow: 0px 15px 23px -10px rgba(33, 33, 33, 0.7);
            display: none;

            &.show {
                display: block;
            }
        }

        .dropdown {
            position: inherit;


        }
    }

    .btn-list {
        @include flex(row, flex-end, center, center);

        .btn-item {
            margin-left: 2.4rem;
        }

        .btn-fan {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;

            &::after {
                display: none;
            }

            i {
                margin: 0;
            }
        }

        .btn-perfil {
            height: 5rem;
            background-color: rgba(255, 255, 255, .2);
            border: none;
            padding-left: 6.2rem;
            padding-right: 4rem;
            color: $white-01;
            position: relative;
            transition: $transition-01;

            &::after {
                display: none;
            }

            img {
                height: 4.8rem;
                width: 4.8rem;
                border-radius: 50%;
                @include absolute(auto, auto, auto, 0);
            }

            i {
                @include absolute(auto, .8rem, auto, auto);
                margin: 0;
                transition: $transition-01;

                span {
                    font-size: 1.6rem;
                    color: $white-01;
                }
            }

            &:hover {
                background-color: rgba(255, 255, 255, .3);
            }
        }
    }

    @include md {

        .container,
        .row {
            height: 100%;
        }
    }

    @include sm {
        .btn-list {
            .btn-item {
                margin-left: .8rem;
            }

            .btn-perfil {
                width: 5rem;
                height: 5rem;
                padding: 4px;

                img {
                    position: relative;
                }

                i,
                span {
                    display: none;
                }
            }
        }
    }
}

.socio {
    header {
        background: transparent;
    }
}