.pg-grupos {
    .modal {
        z-index: 9999;
        background: rgba(0, 0, 0, .6);

        &-dialog {
            max-width: 50%;
            margin-top: 9.6rem;
        }

        &-content {
            border-radius: 3.2rem;
        }

        &-header {
            border-bottom: none;

            h2 {
                width: 100%;
                font-size: 3.2rem;
                text-align: center;
                padding-top: 1.6rem;
            }

            .btn-close {
                width: auto;
                height: auto;
                @include absolute(-5px, -5px, auto, auto);
                border-radius: 50%;
                background: none;
                background-color: $primary-02;
                opacity: 1;
                display: inline-block;

                span {
                    color: $white-01;
                    font-size: 3.2rem;
                }
            }
        }

        &-body {
            @include flex(column, flex-start, center, center);
            padding-bottom: 4rem;
        }

        .grupo-membros {
            width: 100%;
            padding: 0 1.6rem;
            max-height: 16rem;
            overflow-y: auto;
            margin-bottom: 1.6rem;

            &::-webkit-scrollbar {
                width: .5rem;
            }

            &::-webkit-scrollbar-track {
                background-color: $gray-01;
                border-radius: 1.6rem;
            }

            &::-webkit-scrollbar-thumb {
                width: 100%;
                background-color: $primary-02;
                border-radius: 1.6rem;
            }

            li {
                width: 100%;
                @include flex(row, space-between, center, center);
                background-color: $gray-01;
                padding: .8rem;
                border-radius: .6rem;
                padding-left: 5.6rem;
                margin-bottom: .8rem;
                position: relative;

                &:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    content: '';
                    background-image: url('../images/svg/grupo-modal.svg');
                    background-position: center;
                    background-size: cover;
                    height: 4rem;
                    width: 4rem;
                    @include absolute(50%, auto, auto, 0.8rem);
                    transform: translateY(-50%);
                }

                p {
                    margin-bottom: 0;
                    color: $gray-04;
                }

                i {
                    span {
                        font-size: 3rem;
                        color: $gray-04;
                    }
                }
            }
        }

        .dropdown-menu {
            padding: .8rem 1.6rem;

            li {
                padding: .8rem 0;

                &:last-child {
                    label {
                        margin-bottom: 0;
                    }
                }
            }
        }

        h3 {
            @include font(2.6rem, 900, 1.2em);
            color: $gray-04;
            margin-top: 1.6rem;
        }

        .form-inserir-membro {
            align-items: flex-end;

            .btn-add-member {
                padding: 1.6rem;
                @include flex(row, center, center, center);

                a {
                    display: inline-block;
                    padding: .4rem;
                }

                i {
                    display: inline-block;

                    span {
                        font-size: 3.2rem;
                        color: $gray-04;
                    }
                }
            }
        }

        .grupo-aviso {
            width: 70%;
            @include font(1.4rem, 400, 1.6em);
            color: $black-02;
            text-align: center;
            margin: 1.6rem 0 2.4rem;
        }

        @include md {
            &-dialog {
                max-width: 75%;
                margin-top: 8rem;
            }
        }

        @include md {
            &-dialog {
                max-width: 95%;
                margin-top: 4.8rem;
            }
        }

        @include sm {
            .grupo-aviso {
                width: 100%;
            }
        }

        @include xs {
            .grupo-membros {
                padding: 0;
                margin-top: 1.6rem;
            }
        }

        @include xxs {
            &-dialog {
                margin-top: 3.2rem;
            }

            .grupo-membros {
                li {
                    padding-left: 4.8rem;

                    &::before {
                        height: 3.2rem;
                        width: 3.2rem;
                    }

                    p {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

}