.pg-grupos {
    .modal {
        z-index: 9999;
        background: rgba(0, 0, 0, .7);

        &.fade:not(.in) {
            opacity: 0;
            transition: $transition-01;
        }

        &.fade:not(.show) {
            opacity: 1;
        }

        .modal-dialog {
            transform: none;
            margin-top: 12rem;
        }
    }


}