button {
    background-color: transparent;
}

.btn {
    cursor: pointer;
    padding: 1.2rem 2.4rem;
    @include flex(row, center, center, center);
    border-radius: 3.2rem;
    border: 1px solid #263F62;
    color: #263F62;
    font-family: $font-01;
    @include font(1.6rem, 400, 1.3em);
    text-align: center;
    transition: $transition-01;

    i {
        display: inline-block;
        margin-right: .8rem;

        span {
            display: block;
            font-size: 2.4rem;
            color: #263F62;
            transition: $transition-01;
        }
    }

    &:hover,
    &:focus {
        color: $white-01;
        background-color: rgba(255, 255, 255, .25);
        text-decoration: none;
        transition: $transition-01;

        i {
            span {
                color: $white-01;
                transition: $transition-01;
            }
        }
    }

    &-primary {
        width: auto;
        color: $white-01;
        border: 1px solid #263F62;
        background-color: #263F62;
        transition: $transition-01;

        i {
            span {
                display: block;
                color: $white-01;
            }
        }

        &:hover,
        &:focus {
            background-color: #F0F4F6;
            color: #263F62;
            border-color: #F0F4F6;
            transition: $transition-01;
            outline: none;

            span {
                color: #263F62;
            }

            i {
                span {
                    color: #263F62;
                }
            }
        }
    }

    &-secondary {
        width: auto;
        color: #263F62;
        border: 1px solid #263F62;
        transition: $transition-01;

        i {
            span {
                display: block;
                color: #263F62;
            }
        }

        &:hover,
        &:focus {
            background-color: #F0F4F6;
            color: #263F62;
            transition: $transition-01;
            outline: none;

            span {
                color: #263F62;
            }

            i {
                span {
                    color: #263F62;
                }
            }
        }
    }

    &-header {
        border: 1px solid #ACC2D3;
        color: #ACC2D3;

        span {
            color: #ACC2D3;
        }

        i {
            span {
                color: #ACC2D3;
            }
        }
    }

    &-full {
        width: 100%;
    }

    &.no-round {
        border-bottom-right-radius: 0;
    }

    &-link {
        width: auto;
        color: #263F62;
        @include font(1.4rem, 400, 1.2em);
        text-align: center;
        position: relative;
        padding: 0;
        padding-bottom: 3px;

        @include xs {
            font-size: 1.6rem;
        }

        &:before {
            content: '';
            width: 100%;
            height: 2px;
            background: #263F62;
            @include absolute(auto, auto, 0, 0);
            transform: scale(1, 1);
            transform-origin: 0 0;
            transition: $transition-01;
        }

        &:hover {
            color: #263F62;
            text-decoration: none;

            &:before {
                transform: scale(0, 1);
                transition: $transition-01;
            }
        }

        &:focus {
            color: #263F62;
            text-decoration: none;
        }
    }

    &[disabled] {
        background: $gray-01;
        pointer-events: none;

        &:hover {
            background: $gray-01;
        }
    }
}

.socio {
    .btn-header {
        --color-clube: #FFF;
    }
}

.boavista-fc {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #000000;
            background-color: #000000;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .2);
                color: #000000;
                border-color: rgba(0, 0, 0, .2);

                span {
                    color: #000000;
                }

                i {
                    span {
                        color: #000000;
                    }
                }
            }
        }

        &-secondary {
            color: #000000;
            border: 1px solid #000000;

            span {
                color: #000000;
            }

            i {
                span {
                    color: #000000;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .2);
            }
        }
    }
}

.cd-nacional {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #6E3A8D;
            background-color: #6E3A8D;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
                color: #6E3A8D;
                border-color: rgba(0, 0, 0, .1);

                span {
                    color: #6E3A8D;
                }

                i {
                    span {
                        color: #6E3A8D;
                    }
                }
            }
        }

        &-secondary {
            color: #6E3A8D;
            border: 1px solid #6E3A8D;

            span {
                color: #6E3A8D;
            }

            i {
                span {
                    color: #6E3A8D;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}

.fc-porto {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #0083BD;
            background-color: #0083BD;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
                color: #0083BD;
                border-color: rgba(0, 0, 0, .1);

                span {
                    color: #0083BD;
                }

                i {
                    span {
                        color: #0083BD;
                    }
                }
            }
        }

        &-secondary {
            color: #0083BD;
            border: 1px solid #0083BD;

            span {
                color: #0083BD;
            }

            i {
                span {
                    color: #0083BD;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}

.gilvicente-fc {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #CC0000;
            background-color: #CC0000;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
                color: #CC0000;
                border-color: rgba(0, 0, 0, .1);

                span {
                    color: #CC0000;
                }

                i {
                    span {
                        color: #CC0000;
                    }
                }
            }
        }

        &-secondary {
            color: #CC0000;
            border: 1px solid #CC0000;

            span {
                color: #CC0000;
            }

            i {
                span {
                    color: #CC0000;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}

.belenenses-sad {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #0f2440;
            background-color: #0f2440;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
                color: #0f2440;
                border-color: rgba(0, 0, 0, .1);

                span {
                    color: #0f2440;
                }

                i {
                    span {
                        color: #0f2440;
                    }
                }
            }
        }

        &-secondary {
            color: #0f2440;
            border: 1px solid #0f2440;

            span {
                color: #0f2440;
            }

            i {
                span {
                    color: #0f2440;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}

.rioave-fc {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #33a370;
            background-color: #33a370;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
                color: #33a370;
                border-color: rgba(0, 0, 0, .1);

                span {
                    color: #33a370;
                }

                i {
                    span {
                        color: #33a370;
                    }
                }
            }
        }

        &-secondary {
            color: #33a370;
            border: 1px solid #33a370;

            span {
                color: #33a370;
            }

            i {
                span {
                    color: #33a370;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}

.sc-braga {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #c00d1e;
            background-color: #c00d1e;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
                color: #c00d1e;
                border-color: rgba(0, 0, 0, .1);

                span {
                    color: #c00d1e;
                }

                i {
                    span {
                        color: #c00d1e;
                    }
                }
            }
        }

        &-secondary {
            color: #c00d1e;
            border: 1px solid #c00d1e;

            span {
                color: #c00d1e;
            }

            i {
                span {
                    color: #c00d1e;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}

.sporting-cp {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #04b46b;
            background-color: #04b46b;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
                color: #04b46b;
                border-color: rgba(0, 0, 0, .1);

                span {
                    color: #04b46b;
                }

                i {
                    span {
                        color: #04b46b;
                    }
                }
            }
        }

        &-secondary {
            color: #04b46b;
            border: 1px solid #04b46b;

            span {
                color: #04b46b;
            }

            i {
                span {
                    color: #04b46b;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}

.vitoria-sc {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #000000;
            background-color: #000000;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
                color: #000000;
                border-color: rgba(0, 0, 0, .1);

                span {
                    color: #000000;
                }

                i {
                    span {
                        color: #000000;
                    }
                }
            }
        }

        &-secondary {
            color: #000000;
            border: 1px solid #000000;

            span {
                color: #000000;
            }

            i {
                span {
                    color: #000000;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}

.vitoria-fc {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #017e01;
            background-color: #017e01;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
                color: #017e01;
                border-color: rgba(0, 0, 0, .1);

                span {
                    color: #017e01;
                }

                i {
                    span {
                        color: #017e01;
                    }
                }
            }
        }

        &-secondary {
            color: #017e01;
            border: 1px solid #017e01;

            span {
                color: #017e01;
            }

            i {
                span {
                    color: #017e01;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}

.gd-chaves {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #000044;
            background-color: #000044;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
                color: #000044;
                border-color: rgba(0, 0, 0, .1);

                span {
                    color: #000044;
                }

                i {
                    span {
                        color: #000044;
                    }
                }
            }
        }

        &-secondary {
            color: #000044;
            border: 1px solid #000044;

            span {
                color: #000044;
            }

            i {
                span {
                    color: #000044;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}

.sc-covilha {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #005B29;
            background-color: #005B29;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
                color: #005B29;
                border-color: rgba(0, 0, 0, .1);

                span {
                    color: #005B29;
                }

                i {
                    span {
                        color: #005B29;
                    }
                }
            }
        }

        &-secondary {
            color: #005B29;
            border: 1px solid #005B29;

            span {
                color: #005B29;
            }

            i {
                span {
                    color: #005B29;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}

.varzim-sc {
    .btn {
        &-primary {
            color: $white-01;
            border: 1px solid #212121;
            background-color: #212121;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
                color: #212121;
                border-color: rgba(0, 0, 0, .1);

                span {
                    color: #212121;
                }

                i {
                    span {
                        color: #212121;
                    }
                }
            }
        }

        &-secondary {
            color: #212121;
            border: 1px solid #212121;

            span {
                color: #212121;
            }

            i {
                span {
                    color: #212121;
                }
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}