main {
    --color-clube: #263F62;
    --color-hover: #F0F4F6;
}

.btn {
    cursor: pointer;
    padding: 1.2rem 2.4rem;
    @include flex(row, center, center, center);
    border-radius: 3.2rem;
    border: 1px solid var(--color-clube);
    color: var(--color-clube);
    font-family: $font-01;
    @include font(1.6rem, 400, 1.3em);
    text-align: center;
    transition: $transition-01;

    i {
        display: inline-block;
        margin-right: .8rem;

        span {
            display: block;
            font-size: 2.4rem;
            color: var(--color-clube);
            transition: $transition-01;
        }
    }

    &:hover,
    &:focus {
        color: $white-01;
        background-color: rgba(255, 255, 255, .25);
        text-decoration: none;
        transition: $transition-01;

        i {
            span {
                color: $white-01;
                transition: $transition-01;
            }
        }
    }

    &-primary {
        width: auto;
        color: $white-01;
        border: 1px solid var(--color-clube);
        background-color: var(--color-clube);
        transition: $transition-01;

        i {
            span {
                display: block;
                color: $white-01;
            }
        }

        &:hover,
        &:focus {
            background-color: var(--color-hover);
            color: var(--color-clube);
            border-color: var(--color-hover);
            transition: $transition-01;
            outline: none;

            span {
                color: var(--color-clube);
            }

            i {
                span {
                    color: var(--color-clube);
                }
            }
        }
    }

    &-secondary {
        width: auto;
        color: var(--color-clube);
        border: 1px solid var(--color-clube);
        transition: $transition-01;

        i {
            span {
                display: block;
                color: var(--color-clube);
            }
        }

        &:hover,
        &:focus {
            background-color: var(--color-hover);
            color: var(--color-clube);
            transition: $transition-01;
            outline: none;

            span {
                color: var(--color-clube);
            }

            i {
                span {
                    color: var(--color-clube);
                }
            }
        }
    }

    &-header {
        --color-clube: #ACC2D3;
    }

    &-full {
        width: 100%;
    }

    &.no-round {
        border-bottom-right-radius: 0;
    }

    &-link {
        --color-clube: #263F62;

        width: auto;
        color: var(--color-clube);
        @include font(1.4rem, 400, 1.2em);
        text-align: center;
        position: relative;
        padding: 0;
        padding-bottom: 3px;

        @include xs {
            font-size: 1.6rem;
        }

        &:before {
            content: '';
            width: 100%;
            height: 2px;
            background: var(--color-clube);
            @include absolute(auto, auto, 0, 0);
            transform: scale(1, 1);
            transform-origin: 0 0;
            transition: $transition-01;
        }

        &:hover {
            color: var(--color-clube);
            text-decoration: none;

            &:before {
                transform: scale(0, 1);
                transition: $transition-01;
            }
        }

        &:focus {
            color: var(--color-clube);
            text-decoration: none;
        }
    }

    &[disabled] {
        background: $gray-01;
        pointer-events: none;

        &:hover {
            background: $gray-01;
        }
    }
}