table {
  width: 100%;
  margin: 1.5rem 0;

  th,
  td {
    width: auto;
    padding: 1rem .5rem;
    text-align: center;
    @include font(1.4rem, 300, 1.2em);
    color: $black;

    b,
    strong {
      font-weight: 900;
    }
  }

  th {
    text-transform: uppercase;
    font-weight: 900;
  }

  @include xs {
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 1.5rem;
    }

    th,
    td {
      width: 100%;
    }

    td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;

      &:before {
        content: attr(data-label);
        float: left;
        font-weight: 900;
        text-transform: uppercase;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.table-seu-carrinho {
  margin: 0;
  margin-bottom: 1.5rem;
  background-color: $white-01;
  @include flex(column, flex-start, center, center);
  padding: .8rem;

  thead,
  tbody {
    width: 100%;
  }

  tr {
    width: 100%;
    @include flex(row, space-between, center, center);
    flex-wrap: wrap;
  }

  thead {
    border-bottom: 1px solid $gray-04;

    th {
      @include font(1.4rem, 700, 1.2em);
      text-transform: none;
      padding-top: 2.4rem;
    }
  }

  td,
  th {
    text-align: center;
    @include font(1.6rem, 400, 1.4em);

    &:first-child {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  .item-total {
    background-color: $gray-01;
    border: 1px solid $gray-02;
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;

    td {
      font-weight: 700;

      &:nth-child(3) {
        text-align: right;
      }
    }
  }

  td {
    select {
      width: 50%;
      background-color: #f3f3f3;
      @include font(1.4rem, 400, 1em);
      border-radius: 3px;
    }
  }

  .item-delete {
    a {
      display: inline-block;

      span {
        color: $gray-04;
      }
    }
  }

  @include sm {
    thead {
      display: none;
    }

    tr {
      border-bottom: 1px solid $gray-04;
      padding: .8rem 0;
    }

    td {
      padding: .4rem;

      &:first-child {
        text-align: center;
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:last-child {
        text-align: center;
      }

      select {
        width: auto;
      }
    }
  }

  @include xs {
    margin-bottom: 0;
    padding: 1.6rem 0;

    tbody {
      tr {
        margin-bottom: 4rem;
        border: none;
      }

      td {
        text-align: right;
        position: relative;
        padding-left: 50%;
        margin-bottom: 1rem;

        &::before {
          @include font(1.4rem, 900, 1em);
          position: absolute;
          left: .5rem;
        }

        &:nth-child(1) {
          &:before {
            content: 'Item';
          }

          text-align: right;
        }

        &:nth-child(2) {
          &:before {
            content: 'Detalhe';
          }

          text-align: right;
        }

        &:nth-child(3) {
          &:before {
            content: 'Quant.';
          }

          text-align: right;
        }

        &:nth-child(4) {
          &:before {
            content: 'Valor';
          }

          text-align: right;
        }

        &:last-child {
          border-bottom: 1px solid #ddd;
        }
      }

      .item-total {
        td {
          padding: 0;
          text-align: center;

          &:nth-child(3) {
            text-align: center;
          }

          &::before {
            display: none;
          }
        }
      }

      .item-delete {
        text-align: right
      }
    }
  }
}

.table-detalhes-compra {
  @include flex(row, space-between, center, center);

  tr {
    @include flex(column, center, flex-start, flex-start);

    th,
    td {
      padding: 1rem 1.5rem;
    }
  }

  tbody {
    margin-left: .8rem;

    tr {
      @include flex(column, center, flex-end, flex-end);
    }
  }

  @include xs {
    thead {
      display: none
    }

    tbody {
      width: 100%;
      margin-right: 0;
    }

    td {
      position: relative;
      padding-left: 50%;

      &::before {
        width: 50%;
        @include font(1.4rem, 900, 1em);
        position: absolute;
        left: .5rem;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
      }

      &:nth-child(1) {
        &:before {
          content: 'Método de pagamento';
        }
      }

      &:nth-child(2) {
        &:before {
          content: 'Nome';
        }
      }

      &:nth-child(3) {
        &:before {
          content: 'E-mail';
        }
      }

      &:nth-child(4) {
        &:before {
          content: 'País';
        }
      }

      &:nth-child(5) {
        &:before {
          content: 'Contribuinte nº';
        }
      }
    }
  }
}

.table-escolher-cadeira {

  th {
    font-weight: 400;
  }


  .item-active {
    border: 1px solid $secondary-01;
    background: $white-02;
  }

  .item-inactive {
    opacity: .7;
  }

  .item-total {
    border-top: 1px solid $secondary-01;

    td {
      @include font(1.8rem, 400, 1.4em);
      color: $black-02;

      &:nth-child(2) {
        color: $black-02;
      }
    }
  }

  tr {
    background-color: transparent;
  }

  th,
  td {
    width: auto;
    text-align: left;

    &:last-child {
      text-align: right;
    }

    @include sm {
      text-align: left;
    }
  }

  td {

    font-size: 1.6rem;

    p {
      margin-bottom: 0;
    }

    i {
      cursor: pointer;
      width: 1.8rem;
      height: 1.8rem;
      display: inline-block;

      img {
        height: 100%;
      }
    }

    &:nth-child(2) {
      font-weight: 400;
      color: $secondary-02;
    }

    .txt-escolher-cadeira {
      font-size: 1.2rem;
    }
  }

  @include xs {
    td {
      text-align: center;

      &:last-child {
        text-align: center;
      }
    }
  }
}