.modal {
    z-index: 9999;

    &-dialog {
        max-width: 50%;
        border: none;

        @include xxl {
            max-width: 70%;
        }

        @include md {
            max-width: 80%;
        }

        @include sm {
            max-width: 90%;
        }

        @include xs {
            max-width: 100%;
        }
    }

    &-content {
        border-radius: 3.2rem;
        padding: 1.6rem 2.4rem;
        border: none;
    }

    &-header {
        border-bottom: none;

        h2 {
            width: 100%;
            font-size: 2.4rem;
            text-align: center;
        }

        .btn-close {
            width: auto;
            height: auto;
            @include absolute(-5px, -5px, auto, auto);
            border-radius: 50%;
            background: none;
            background-color: $primary-02;
            opacity: 1;
            display: inline-block;

            span {
                color: $white-01;
                font-size: 3.2rem;
            }

            @include xs {
                top: 0;
                right: 0;
            }
        }
    }

    &-body {
        @include flex(column, flex-start, center, center);
    }

    .alerta-jogo {
        width: 100%;
        @include flex(column, flex-start, center, center);

        &-clubes {
            width: 100%;
            @include flex(row, center, center, center);
            @include font(1.6rem, 400, 1.2em);
            text-align: center;
            color: $black-02;
            margin-bottom: 1.6rem;

            .clube-item {
                @include flex(column, flex-start, center, center);
                position: relative;
                padding: 0 2.4rem;

                img {
                    width: 8rem;
                    height: 8rem;
                    margin-bottom: .4rem;
                }

                .posicao-compeonato {
                    width: 2.4rem;
                    height: 2.4rem;
                    @include flex(row, center, center, center);
                    @include absolute(0, 2rem, auto, auto);
                    background-color: $primary-02;
                    color: $white-01;
                    @include font(1.2rem, 400, 1.2em);
                    border-radius: 50%;
                }
            }
        }

        h4 {
            font-size: 1.8rem;
            text-transform: uppercase;
        }

        &-infos {
            @include font(1.8rem, 400, 1.2em);
            color: $gray-04;
            margin-top: .4rem;
            text-align: center;
        }
    }
}