// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: $font-01;
  background-color: $white-01;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

section {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

a,
a:active,
a:focus,
a span:hover,
a span:active,
a span:focus {
  color: white;
  text-decoration: none;
  // @include on-event {
  //   color: $text-color;
  //   text-decoration: underline;
  // }
}

.main-content {
  border-top-left-radius: 9.6rem;
  border-top-right-radius: 9.6rem;
  background-color: #FFFFFF;
  margin-top: -10.4rem;
  padding-top: 4rem;

  min-height: 40rem;
  height: auto;

  @include md {
    border-top-left-radius: 8rem;
    border-top-right-radius: 8rem;
  }

  @include sm {
    border-top-left-radius: 5.6rem;
    border-top-right-radius: 5.6rem;
  }
}

.pg-padrao {
  width: 100%;
  min-height: 32rem;
  height: auto;
  padding: 1.6rem 2.4rem;
  @include flex(row, flex-start, flex-start, flex-start);
  flex-wrap: wrap;
  background: $white-02;
  border-top-left-radius: 2.4rem;
  border-top-right-radius: 2.4rem;

  @include md {
    margin-top: .8rem;
  }

  @include xxs {
    padding: .8rem .8rem 1.6rem;
  }
}

.no-mobile {
  @include md {
    display: none !important;
  }
}

.yes-mobile {
  display: none !important;

  @include md {
    display: block !important;
  }
}

.load-screen {
  width: 100%;
  height: 100%;
  background: url(../images/loading.gif) no-repeat center center #000;
  background-size: 65px 75px;
  position: fixed;
  opacity: 0.7;
  z-index: 2000;
}