body {
  color: $black-01;
  // font: normal 125% / 1.4 $text-font-stack;
}

h1 {
  width: 100%;
  font-family: $font-01;
  @include font(3rem, 900, 1.4em);
  color: $black-02;
}

h2 {
  font-family: $font-01;
  @include font(2.4rem, 900, 1.4em);
  color: $black-02;
}

h3 {
  font-family: $font-01;
  @include font(1.8rem, 900, 1.4em);
  color: $black-02;
}

h4 {
  font-family: $font-01;
  @include font(1.6rem, 900, 1.4em);
  color: $black-02;
}

h5 {
  font-family: $font-01;
  @include font(1.6rem, 400, 1.4em);
  color: $gray-04;
}

p {
  @include font(1.4rem, 400, 1.6em);
  color: $black-01;

  b,
  strong {
    font-weight: 700;
  }
}